body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}

body > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#scores > p {
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: bold;
}

#player_choice > p {
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: bold;
}

#per_round_results > p{
    margin-top: 8px;
    margin-bottom: 8px;
}
